*{
    box-sizing: border-box;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}





body{
    background-color: rgba(224, 255, 244, 1);
    width: 100%;
    height: 100rem;
    background-size: cover;
    background-position: center;
    min-width: 520px;
}


#wrapper{
    float: left;
    position: absolute;
    /* margin: auto; */
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: green;
    overflow: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

}  



.banner{
    background-color: rgba(160, 196, 255, 1);
    width: 100%;
    overflow: auto;
}



.image{
    width: 8%;
    height: 8%;
}


.inactive{
    display: none;
}


#header{

}

#logo{
    margin: 1.2%;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.4rem;
    height: 3em;
    width: 80%;
}


#tab-container{
    width: 100%;
    float:left;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}


.tablink{
    width: 200px;
    margin: 1%;
    overflow: auto;
    margin-left: 2% auto;
    margin-right: 2% auto;
}