
*{
    box-sizing: border-box;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: rgba(0, 64, 64, 1);
}





body{
    background-color: rgba(0, 112, 224,  1);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    min-height: 740px;
    overflow: auto;
    display: block;
}



.banner{
    background-color: rgba(160, 196, 255, 1);
    width: 100%;
    overflow: auto;
}



.image{
    width: 10em;
    height: 10em;
}



.tablink{
    width: .75em;
    min-width: 250px;
    font-size: 1.5em;
    overflow: auto;
    margin: 1% auto;
}


.name{
    font-family: Garamond, serif;
    font-size: 1.5em;
}


.content{
    padding: 3%;
    float: left;
    font-family: Garamond, serif;
    background-color: white;
    border-radius: 8px;
    display: block;
    overflow: auto;
    width: 100%;
    height: 25rem;
}


.inactive{
    display: none;
}




.content-text{
    font-size: 2em;
    padding: 3%;
}


.title{
    font-size: 3em;
    white-space: nowrap;
    font-family: Garamond, serif;
    color: rgba(0, 64, 64, 1);
    width; 
    background-color: white;
    display: inline-block;
    padding: 1%;
    border-radius: 15px;
}



.card{
    min-width: 400px;
    height: 300px;
    margin: 1% auto;
    margin-left: 2%;
    float: left;
    padding: 1%;
    border-radius: 8px;
}


.card-body{
    margin: 1%;
    white-space: nowrap;
    float: left;
    left: 0;
}



.card-image{
    width: 10rem;
    height: 10rem;
    margin: 3%;
    float: left;
}



.position-title{
    font-size: 1.5em;
    white-space: nowrap;
}


.contact-title{
    font-size: 1.5em;
    white-space: nowrap;
}





#header{
    /* position: relative; */
}




#wrapper{
    float: left;
    position: absolute;
    left: 0;
    right: 0;
    width: 105rem;
    background-color: rgba(255, 255, 255, .75);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    border-radius: 15px;
}  



#tab_wrapper{
    margin: 5%;
    background-color: rgba(96, 156, 255, 1);
    border-radius: 10px;
    display: inline-block;
    height: 50em;
    padding: 3%;
}



#about{
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
    font-size: 1em;
    padding: 2%;
    width: 95%;
}


#card-container{
    padding: 1%;
    margin-top: 2%;
    margin-left: -2%;
    margin-bottom: 2%;
    width: 100%;
}



#logo{
    margin: 1.2%;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.4rem;
    height: 3em;
    width: 80%;
    font-family: Garamond, serif;
}




#tab-container{
    width: 97%;
    float:left;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 2%;
    margin-left: 1%;
    margin-bottom: 2%;
    padding: 1%;
    border-radius: 8px;
}



#content_container{
    /* background-color: rgba(96, 156, 255, 1); */
    margin: 1%;
    height: 35em;
    border-radius: 10px;
    padding: 4%;
    width: 97%;
    overflow: auto;
}







@media only screen and (max-device-width: 600px){

    *{
        white-space: normal;
    }

    body{
        background-color: blue;
    }



    #about{
        font-size: 1em;
    }


    #content_container{
        margin: 1% auto;
        width: 100%;
        background-color: rgba(96, 156, 255, 1);
    }


    .title{
        font-size: 2em;
        white-space: normal;

    }


    .image{
        width: 2.5em;
        height: 2.5em;
    }


    .content-text{
        font-size: 1em;
    }


    .content{
        margin: 1% auto;
    }


    .tablink{
        margin: 1.5%;
        width: 80%;
        font-size: 1.5rem;
    }

    
    .card{
        width: 80%;
    }

}